@model UsuarioModel
@{
    ViewData["Title"] = "Registrar";
}

<div id="cadastro-usuario">
    <center>
        <div class="row">
            <div class="col-md-12 section-header" style="text-align: left; border-bottom: 1px solid; border-bottom-color: #eaeaea; padding-bottom:10px;">
                <h3 class="title">
                    CADASTRAR USUÁRIO
                </h3>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <form action="@Url.Action("CadastroUsuario","Login")' method="post" role="form">

                    <div class="form-group">
                        @Html.LabelFor(m => m.Login, new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Senha, new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmacaoSenha, new { @class = "col-md-5 control-label" })
                        <div class="col-md-7">
                            @Html.PasswordFor(m => m.ConfirmacaoSenha, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-9 col-md-2">
                            <input type="submit" class="btn btn-default" value="Registrar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </center>
</div>