@model ListagemAluguelModel

<table class="table">
    <thead>
        <tr>
            <th>
                Código Aluguel
            </th>
            <th>
                Categoria
            </th>
            <th>
                Data Aluguel
            </th>
            <th>
                Placa
            </th>
            <th>
                Valor/Hora
            </th>
            <th>
                Total Horas
            </th>
            <th>
                Valor Final
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListaAluguelCliente)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaAluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:C}", item.ValorHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeHoras)
            </td>
            <td>
                @String.Format(new System.Globalization.CultureInfo("pt-BR"), "{0:C}", item.ValorFinalAluguel)
            </td>
            <td>
                @Html.ActionLink("Dar Feedback!", "Feedback")
            </td>
        </tr>
        }
    </tbody>
</table>
